body
{
	background-image: url("background.jpg");
	background-color: white;
	background-size: 100%;
	background-repeat: none;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;	
	background-attachment: fixed;
}
#intro
{
	
}
#introVideo
{
	width: 100%;
	box-shadow: 0 0 20px #000;
}
.eventImages img
{
	box-shadow: 0 0 20px #000;
	width: 100%;
}
.container-fluid::before{
	width:0px !important;
}
#eventsDivision
{
	background-color: #999999;
	padding: 20px;
	margin:0px 10px 10px 10px;
	box-shadow: 0 0 20px #000;
	display: inline-block;
}
.loadMoreButton
{
	position: absolute;
	right: 0px;
	height: 100%;
	top:0px;
	z-index: 2;
	background-color: white;
	opacity: 0.8;
	display: inline-block;
	width: 2.5%;
	padding-top:90px;
	padding-left: 0.8%;
}
.headings
{
	font-size: 20px;
	margin-left: 10px;
	color:white;
}